#header { z-index:1000; position:relative; /*background-image:url("../img/head-bg.jpg");*/ background-position:center center; color:#fff; font-family: 'NanumSquareRound',sans-serif; background-repeat:no-repeat; background-size:101%; text-align:center;  }


#header .logo { display:inline-block; border:3px solid #fff; border-radius:50px; box-shadow:inset 0 0 12px #a30a86,0 0 2px #a30a86,0 0 10px #ff00ff,0 0 25px #a30a86; animation:neon8 1.5s infinite alternate; margin:100px 0; }
#header .logo a { display:block; }

#header .gnb { position:absolute; top:0; left:0; width:100%; background-color:rgba(0, 0, 0,0.5); z-index:20; }
#header .gnb > div { overflow:hidden; }
#header .gnb > div ul { float:right; overflow:hidden; }
#header .gnb > div ul li { float:left; }
#header .gnb > div ul li a { display:block; padding:17px; font-size:12px; color:#fff; position:relative; }
#header .gnb > div ul li a:after { content:''; background-color:#fff; position:absolute; top:50%; left:0; transform:translate(0, -50%); width:1px; height:25%; }
#header .gnb > div ul li:first-child a:after { display:none; }

#header .light { position:absolute; height:100%; right:0; left:0;  top:0; margin:0 auto; overflow:hidden; z-index:-1; overflow:hidden; }
#header .light div { position:absolute; transform-origin:top; top:-30px; }
#header .light .pcleft { animation:swing1 3s infinite alternate; left:35%;}
#header .light .pcright { animation:swing2 3s infinite alternate; right:35%;}
#header .light .mobileleft { display:none; }
@keyframes swing1 { from { transform: rotate(-10deg); } to { transform:rotate(22deg); } }
@keyframes swing2 { from { transform: rotate(10deg); } to { transform:rotate(-22deg); } }

#header .numder { height:100%;  }
#header .numder div { display:inline-block; position:absolute; border:6px solid; border-radius:50%; text-align:center; }
#header .numder div:nth-of-type(1) { width:42px; height:42px; line-height:42px; font-size:28px;  top:35%; left:3%; text-shadow:0 0 1px #fff, 0 0 5px  #fff, 0 0 10px  #fff; box-shadow:inset 0px 0px 10px 0px #fff,0 0 5px #fff, 0 0 10px #fff; animation: neon1 1.2s ease-in-out 1s infinite alternate; border:3px solid; }
#header .numder div:nth-of-type(2) { font-size:34px; width:69px; height:69px; line-height:69px; top:50%;  left:11%; text-shadow:0 0 1px #058945, 0 0 10px #058945, 0 0 15px #058945; box-shadow:inset 0px 0px 15px 0px #058945,0 0 5px #058945,0 0 8px #058945, 0 0 13px #058945; animation: neon2 1.2s infinite alternate;}
#header .numder div:nth-of-type(3) { font-size:51px; width:76px; height:76px; line-height:76px; top:25%; left:18%;  text-shadow:0 0 1px #0068ff, 0 0 5px #0068ff,0 0 10px #0068ff; box-shadow:inset 0px 0px 15px 0px #0068ff,0 0 8px #0068ff,0 0 23px #0068ff; animation: neon3 1.2s infinite alternate; }
#header .numder div:nth-of-type(4) { font-size:21px;  width:44px; height:44px; line-height:44px; top:27%; right:24%; text-shadow:0 0 1px #f67908, 0 0 5px #f67908, 0 0 10px #f67908; box-shadow:inset 0px 0px 10px 0px #f67908,0 0 5px #f67908, 0 0 10px #f67908; animation:neon4 1.2s ease-in-out infinite alternate; border:4px solid; }
#header .numder div:nth-of-type(5) { font-size:24px;  width:57px; height:57px; line-height:57px; top:40%; right:15%; text-shadow:0 0 1px #02fefe, 0 0 5px #02fefe, 0 0 10px #02fefe; box-shadow:inset 0px 0px 10px 0px #02fefe,0 0 5px #02fefe, 0 0 10px #02fefe; animation:neon5 1.2s ease-in-out 1s infinite; border:4px solid; }
#header .numder div:nth-of-type(6) { font-size:40px;  width:80px; height:80px; line-height:80px; top:15%; right:5%; text-shadow:0 0 1px #fff200, 0 0 5px #fff200,0 0 10px #fff200; box-shadow:inset 0px 0px 10px 0px #fff200, 0 0 5px #fff200,0 0 10px #fff200; animation:neon6 1.2s ease-in-out infinite; }
#header .numder div:nth-of-type(7) {  right:0px;  font-size:39px; width:77px; height:77px; line-height:77px; bottom:10px; text-shadow:0 0 1px #ff0031, 0 0 5px #ff0031, 0 0 10px #fff200; box-shadow:inset 0px 0px 10px 0px #ff0031,0 0 17px #ff006a, 0 0 10px #ff0000; z-index:1; animation:neon7 1.5s ease-in-out 0.1s 1 alternate, neon7_1 1.2s ease-in-out infinite; ; animation-fill-mode: forwards; }
@keyframes neon1 { 50% { box-shadow:inset 0px 0px 13px 0px #fff, 0px 0px 15px #fff; } }
@keyframes neon2 { 50% { box-shadow:inset 0px 0px 20px 0px #058945, 0px 0px 25px #058945; } }
@keyframes neon3 { 50% { box-shadow:inset 0px 0px 30px 0px #0068ff, 0px 0px 23px #0068ff; } }
@keyframes neon4 { 50% { box-shadow:inset 0px 0px 20px 0px #f67908, 0px 0px 21px #f67908; } }
@keyframes neon5 { 50% { box-shadow:inset 0px 0px 18px 0px #02fefe, 0px 0px 20px #02fefe; } }
@keyframes neon6 { 50% { box-shadow:inset 0px 0px 20px 0px #fff200, 0px 0px 20px #fff200; } }
@keyframes neon7 { from { transform:rotate(360deg);} to { box-shadow:inset 0px 0px 20px 0px #ff0031, 0px 0px 10px #ff0031; right:180px; } }
@keyframes neon7_1 { 50% { box-shadow:inset 0px 0px 20px 0px #ff0031, 0px 0px 20px #ff0031; } }
@keyframes neon8 { 50% { box-shadow:inset 0px 0px 15px 0px #a30a86, 0px 0px 25px #a30a86; } }


#header .menu { background:rgba(0, 0, 0, 0.4); position:absolute; bottom:0; left:0; width:100%; z-index:20; }
#header .menu .menu_list { overflow:hidden; }
#header .menu .menu_list li { float:left; width:20%; text-align:center;}
#header .menu .menu_list li a { color:#fff; display:block; padding:18px 20px; }
#header .menu .menu_list li a:hover { text-shadow:0 0 3px #fff; }

#header .menu .menu_full { position:absolute; top:100%; left:0; background-color:#fff; width:100%; padding:15px 0 15px 10px; box-shadow:0 0px 3px #000; display:none; }
#header .menu .menu_full a { color:#505050; }
#header .menu .menu_full > ul { overflow:hidden; }
#header .menu .menu_full > ul > li { float:left; width:20%; overflow:hidden;  box-sizing:border-box; }
#header .menu .menu_full > ul > li > ul { border-left:2px solid #eeeeee; }
#header .menu .menu_full > ul > li:first-child + li ul { border-left:none; }
#header .menu .menu_full > ul > li > ul > li { display:block; padding:10px 0 10px 60px; text-align:left; }
#header .menu .menu_full > ul > li > ul > li::before { content:""; width:4px; height:4px; display:inline-block; vertical-align:middle; margin-right:7px; border-radius:50%; background:#505050; }
#header .menu .menu_full > ul > li > ul > li:hover a { color:#0c5f9a; }
#header .menu:hover .menu_full { display:block;}
#header .menu .menu_full .rogin_m { display:none; }

#header #mobile { position:absolute; top:50%; right:15px; transform:translate(0, -50%); display:none; }
#header #mobile div { width:40px; }
#header #mobile div span ,
#header #mobile div:after ,
#header #mobile div:before { content:''; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); width:35px; height:4px; background-color:#fff; transition:all .3s ease-in-out; }
#header #mobile div:after { margin:-12px 0 0; }
#header #mobile div:before { margin:12px 0 0; }

#header #mobile.on div span { opacity:0; }
#header #mobile.on div:before { margin-top:-4px; margin-left:-18px; transform:rotate(45deg); }
#header #mobile.on div:after { margin-top:-4px; margin-left:-18px; transform:rotate(-45deg); }


#top { position:fixed; bottom:50px; right:100px; z-index:1000; }
#top a { display:block; }

@media screen and ( max-width:1550px ) {
  #top { right:20px; }
  #header .light .pcleft { left:30%;}
  #header .light .pcright { right:30%;}
}
@media screen and ( max-width:1200px ) {
  #header .logo { border-radius:25px; margin:90px 0; }
  #header .logo img { max-width:400px; }
  #header .light .pcleft { left:25%;}
  #header .light .pcright { right:25%;}
  #header .menu .menu_full > ul > li > ul > li { padding:8px 0 8px 40px; }

  #header .numder div { border:3px solid; }
  #header .numder div:nth-of-type(1) { width:30px; height:30px; line-height:30px; font-size:20px;    }
  #header .numder div:nth-of-type(2) { font-size:28px; width:47px; height:47px; line-height:47px; top:60%; }
  #header .numder div:nth-of-type(3) { font-size:25px; width:40px; height:40px; line-height:40px; top:23%; left:16%;  }
  #header .numder div:nth-of-type(4) { font-size:18px;  width:25px; height:25px; line-height:25px; top:25%; right:24%;}
  #header .numder div:nth-of-type(5) { font-size:20px;  width:35px; height:35px; line-height:35px; top:50%; }
  #header .numder div:nth-of-type(6) { font-size:30px;  width:60px; height:60px; line-height:60px; top:15%; right:5%;}
  #header .numder div:nth-of-type(7) { font-size:33px; width:65px; height:65px; line-height:65px; }
}

@media screen and ( max-width:1024px ) {
  #header .logo { margin:70px 0; }
  #header .logo img { max-width:350px; }
  #header .numder div:nth-of-type(4) { right:22%;}
  #header .numder div:nth-of-type(7) { font-size:25px; width:48px; height:48px; line-height:48px; }
  #header .menu .menu_full > ul > li > ul > li { padding:8px 0 8px 20px; font-size:14px; }
}

@media screen and ( max-width:768px ) {
  #header { text-align:left; position:fixed; top:0; left:0; width:100%; }
  #header .logo { border-radius:20px; margin:15px; }
  #header .logo img { max-width:140px;}
  #header .light { display:none; }
  #header .menu .menu_full { overflow-y:scroll; display:none; position:fixed; right:0; width:450px; left:auto; height:100vh; top:0px; }
  #header .menu .menu_full > ul > li { width:100%; padding-left:15px; border-top:none; border-top:1px solid #ccc;}
  #header .menu .menu_full > ul > li > ul { border:none; }
  #header .menu .menu_full > ul > li > ul > li { padding:13px 0px; font-size:17px; }
  #sub .wrap .left div a:first-child + a,
  #sub .wrap .left div a:first-child + a + a + a { border-left:none; }
  #sub .wrap .left.three div a:first-child + a { border-bottom:1px solid #ccc;}

  #header .menu .wrap { padding:0;  }
  #header .menu .menu_full { padding:0; }
  #header .menu .menu_full .rogin_m { display:inline-block; padding-left:0; border-top:none; }
  #header .menu .menu_full .rogin_m ul { box-sizing:border-box; position:fixed; width:450px; right:0; overflow:hidden; background:rgba(20, 5, 43,1); padding:18px 5px; }
  #header .menu .menu_full .rogin_m ul li { width:27%; float:left; text-align:center; font-size:18px; }
  #header .menu .menu_full .rogin_m ul #mobile_x { width:19%; }
  #header .menu .menu_full .rogin_m ul #mobile_x #mobile { right:35px; }
  #header .menu .menu_full .rogin_m ul #mobile_x #mobile span { display:none; }
  #header .menu .menu_full .rogin_m ul #mobile_x #mobile div::before { transform:rotate(45deg); top:29px; }
  #header .menu .menu_full .rogin_m ul #mobile_x #mobile div::after { transform:rotate(-45deg); top:52px; }
  #header .menu .menu_full .rogin_m ul li a { color:#fff; }
  #header .menu .menu_full .rogin_m ul li::before { display:none; }
  #header .menu .menu_full .rogin_m + li { margin-top:100px; border-top:none; }

  #header .gnb { display:none; }
  #top { display:none; }

  #header .numder div:nth-of-type(1) { display:none; }
  #header .numder div:nth-of-type(2) { display:none; }
  #header .numder div:nth-of-type(3) { display:none; }
  #header .numder div:nth-of-type(4) { right:18%; border:2px solid;}
  #header .numder div:nth-of-type(5) { top:10%; left:35%;}
  #header .numder div:nth-of-type(6) { display:none; }
  #header .numder div:nth-of-type(7) { font-size:25px; width:40px; height:40px; line-height:40px; top:30%;; }

  #header .light div { top:-30px; }
  #header .light .pcleft { display:none; }
  #header .light .pcright { display:none; }
  #header .light .mobileleft { display:inline-block; animation:swing1 3s infinite alternate; left:-10%; }
  #header .light .mobileright { display:inline-block; animation:swing2 3s infinite alternate; right:-10%;}

  #header .menu .menu_list { display:none; }

  #header #mobile { display:block; height:100%;}
}

@media screen and (max-width:640px) {
  #header .menu .menu_full { width:300px; top:0px}
  #header .menu .menu_full > ul > li > ul > li { padding:9px 0;}
  #header .menu .menu_full > ul > li > ul > li::before { content:""; width:4px; height:4px; display:inline-block; border-radius:50%; vertical-align:middle; background:#0c5f9a; margin-right:5px; }
  #header .menu .menu_full > ul > li > ul > li { padding:15px 0 15px 0; font-size:20px; }
  #header .menu .menu_full .rogin_m ul { padding:17px 5px; width:300px;}
  #header .menu .menu_full .rogin_m ul li { font-size:16px; }
  #header .menu .menu_full .rogin_m .mobile_x { font-size:20px; }
  #header .menu .menu_full .rogin_m ul #mobile_x #mobile { right:25px; }
  #header .menu .menu_full .rogin_m ul #mobile_x #mobile div::before { transform:rotate(45deg); top:32px; }
  #header .menu .menu_full .rogin_m ul #mobile_x #mobile div::after { transform:rotate(-45deg); top:52px; }
  #header .numder div:nth-of-type(4) { display:none; }
  #header .numder div:nth-of-type(5) { left:51%; border:2px solid;  font-size:12px;  width:20px; height:20px; line-height:20px;}
  #header .numder div:nth-of-type(7) { animation:none; font-size:15px; width:25px; height:25px; line-height:25px; top:40%; right:80px; border:2px solid;}

  #header #mobile { right:10px; }
  #header #mobile div span, #header #mobile div:after, #header #mobile div:before { width:30px; height:3px; }
  #header #mobile div:before { margin:10px 0 0; }
  #header #mobile div:after { margin:-10px 0 0; }
}
